:root {
  --first-blue: #142d4c;
  --second-blue: #385170;
  --third-blue: #9fd3c7;
  --fourth-blue: #b6e1e0;
  --first-white: #fcfafa;
  --first-black: #222831;
  --second-black: #393e46;
  --third-black: #606470;
}

body {
  margin-top: 100px;
  background-color: var(--first-blue);
}

.h1-mainheader {
  font-size: 48px;
}

.h2-mainheader {
  font-size: 38px;
}

.h2-subheader,
.h3-subheader,
.h4-subheader {
  font-family: "Fredericka the Great", cursive;
  color: var(--first-white);
}

.h2-subheader {
  text-align: center;
  font-size: 24px;
}

.h3-subheader {
  font-size: 20px;
}
.h4-subheader {
  font-size: 16px;
  display: inline;
}
.header-page {
  font-family: "Fredericka the Great", cursive;
  color: var(--first-white);
  text-align: center;
}

.img-effect {
  transition: transform 0.7s ease-in-out;
}

.img-effect:hover {
  transform: scale(1.1);
  opacity: 0.9;
}

.main-paragraph {
  color: var(--first-white);
  text-align: justify;
  font-family: "Josefin Slab", serif;
  font-size: 18px;
}

#main-photo:hover {
  opacity: 0.8;
}

.project-btn,
.project-link {
  padding: 5px;
  color: var(--third-blue);
  font-family: "Special Elite", cursive;
  margin: 0 auto;
}

.project-link:hover,
.project-link:visited {
  color: var(--third-blue);
}

.project-btn:hover,
.project-btn:visited {
  color: var(--third-blue);
  font-family: "Domine", serif;
  font-weight: bold;
}

.project-description {
  color: var(--first-white);
  text-align: left;
  font-family: "Josefin Slab", serif;
  font-size: 15px;
}
.rounded-left {
  border-radius: 30% 1% 1% 30% / 50% 1% 1% 50%;
}

.rounded-right {
  border-radius: 1% 30% 30% 1% / 1% 50% 50% 1%;
}

.rounded-middle {
  border-radius: 30% 30% 30% 30% / 50% 50% 50% 50%;
}

.row-h {
  margin-top: 30px;
  margin-bottom: 10px;
}

@media (max-width: 1000px) {
  .h1-mainheader {
    font-size: 36px;
  }

  .h2-mainheader {
    font-size: 26px;
  }

  .h2-subheader {
    font-size: 20px;
  }

  .h3-subheader {
    font-size: 18px;
  }

  .row-h {
    margin-top: 15px;
    margin-bottom: 10px;
  }

  .main-paragraph {
    font-size: 17px;
  }
}

@media (max-width: 670px) {
  .h1-mainheader {
    font-size: 29px;
  }

  .h2-mainheader {
    font-size: 21px;
  }

  .h2-subheader {
    font-size: 18px;
  }

  .h3-subheader {
    font-size: 17px;
  }

  .main-paragraph {
    font-size: 16px;
  }
}

@media (max-width: 450px) {
  .h1-mainheader {
    font-size: 19px;
  }

  .h2-mainheader {
    font-size: 15px;
  }

  .h2-subheader {
    font-size: 14px;
  }

  .h3-subheader {
    font-size: 13px;
  }

  .main-paragraph {
    font-size: 15px;
  }
}

.contact-icon {
  font-size: 20px;
  color: var(--fourth-blue);
  padding: 10px;
}
.contact-link,
.contact-link:hover,
.contact-link:visited {
  color: var(--fourth-blue);
}
